body {
  padding: 0;
  margin: 0;
}

.page-wrapper{
  overflow-y:hidden !important;
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.js{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #182327;
}

.image-section{
  flex: 1;
  padding-top: 8%;
  align-items: center;
  justify-content: center;
}

.name-section{
  flex: 1;
  padding: 3%;
  width: 80%;
  justify-content: center;
  align-self: center;
  align-content: center;
}

#title{
  font-size: 100px;
  font-family: ailerons;
  color: #B2AFAC;
  text-align: center;
  align-self: center;
}

.links{
  flex: 1;
  padding: 1%;
}

.icons{
  display:inline-block;
  float: left;
  width:100%;
  margin:0;
}


.lin, .git, .fb, .twit, .mail, .res{
  color:#959492;
}

.ico{
    border: 2px solid #FFCE2B;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 11px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 22px 8px;
}

.ico-res{
  border: 2px solid #FFCE2B;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 11px;
  position: relative;
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 22px 8px;
}

.ico:hover{
  transform: translateY(-4px);
}

.ico-res:hover{
  transform: translateY(-4px);
}
.ico:hover .fb{
  color: #B2AFAC;
}
.ico:hover .lin{
  color: #B2AFAC;
}
.ico:hover .git{
  color: #B2AFAC;
}
.ico:hover .ig{
  color: #B2AFAC;
}
.ico:hover .mail{
  color: #B2AFAC;
}
.ico:hover .twit{
  color: #B2AFAC;
}
.ico-res:hover .res{
  color: #B2AFAC;
}
