body {
  padding: 0;
  margin: 0;
}

@font-face{
    font-family: "Ailerons";
    src: url('./css/Ailerons/Ailerons.otf');
}

.page-wrapper{
  overflow-y:hidden !important;
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -20;
  background-color: #42413D;
}

.image-section{
  flex: 1;
  padding-top: 8%;
  align-items: center;
  justify-content: center;
}

.name-section{
  flex: 1;
  padding: 3%;
  width: 80%;
  justify-content: center;
  align-self: center;
  align-content: center;
}

#title{
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  color: #B2AFAC;
  text-align: center;
  align-self: center;
}

.links{
  flex: 1;
  padding: 1%;
}

.icons{
  display:inline-block;
  float: left;
  width:100%;
  margin:0;
}


.lin, .git, .twit, .fb, .mail, .res{
  color:#959492;
}

.ico{
    border: 2px solid #FFCE2B;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 11px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 22px 8px;
    transform: scale(1);
}

.ico:hover{
  transform: scale(1.3);
}

.ico:hover .fb{
  color: #B2AFAC;
}
.ico:hover .lin{
  color: #B2AFAC;
}
.ico:hover .git{
  color: #B2AFAC;
}
.ico:hover .ig{
  color: #B2AFAC;
}
.ico:hover .mail{
  color: #B2AFAC;
}
.ico:hover .twit{
  color: #B2AFAC;
}
.ico:hover .res{
  color: #B2AFAC;
}
